
  <div class="job-ad-item">
    <div class="item-info">
      <div class="item-image-box">
        <div class="item-image">
          <a href="job-details.html"><img src="/theme/Frontend/demo.themeregion.com/jobs-updated/images/job/2.png" alt="Image" class="img-responsive"></a>
        </div><!-- item-image -->
      </div>

      <div class="ad-info">
        <span><a href="job-details.html" class="title"><%= job %></a> @ <a href="#">AOK Security</a></span>
        <div class="ad-meta">
          <ul>
            <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>San Francisco, CA, US </a></li>
            <li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i>Full Time</a></li>
            <li><a href="#"><i class="fa fa-money" aria-hidden="true"></i>$25,000 - $35,000</a></li>
            <li><a href="#"><i class="fa fa-tags" aria-hidden="true"></i>HR/Org. Development</a></li>
          </ul>
        </div><!-- ad-meta -->
      </div><!-- ad-info -->
      <div class="button">
        <a href="#" class="btn btn-primary">Apply Now</a>
      </div>
    </div><!-- item-info -->
  </div><!-- ad-item -->